
<header>
  <img class="logo" src="assets/lendingTreeLogo.png" alt="logo">
  <nav>
    <ul class="nav__links">
      <li><a href="customer/loans">Loans</a></li>
      <li><a href="customer/profile">Profile</a></li>
    </ul>
  </nav>
  <a class="cta" href="#">Contact</a>
  <p onclick="openNav()" class="menu cta">Menu</p>
</header>

<br>
<table class="container">
  <thead>
  <tr>
    <th><h1>Loan Amount</h1></th>
    <th><h1>Loan Type</h1></th>
    <th><h1>Date Applied</h1></th>
    <th><h1>Status</h1></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let loan of loans">
    <td>{{loan.amount}}</td>
    <td>{{loan.loanType}}</td>
    <td>{{loan.initialDate}}</td>
    <td>{{loan.status}}</td>
  </tr>

  </tbody>
</table>


<div class="container" pos>
  <form action="" (submit)="addLoan(f)" #f="ngForm">
    <input type="text" placeholder="Loan amount" ngModel name="amount">
    <input type="text" placeholder="Loan type" ngModel name="loanType">
    <input type="text" placeholder="Bank Id" ngModel name="bankId">
    <button class="blue">Apply for Loan</button>
  </form>
</div>
<br/><br/>


