<app-navbar></app-navbar>

<div class="container">
  <h2>Employees in All Department</h2>
  <label> Search Keyword:    </label>
  <input type="text" [(ngModel)]="term">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Emp ID</div>
      <div class="col col-2">Employee Name</div>
      <div class="col col-3">Department ID</div>
      <div class="col col-4">Number</div>
      <div class="col col-5">Assigned Loans</div>
      <div class="col col-6" size="small"></div>
    </li>
    <li class="table-row" *ngFor="let employee of employees|filter:term">

      <div class="col col-1" data-label="Emp ID">{{employee.empId}}</div>

      <div class="col col-2" data-label="Employee Name">
        <input [(ngModel)]="employee.firstName" name="firstName" >
        <input  [(ngModel)]="employee.lastName" name="lastName">
      </div>

      <div class="col col-3" data-label="Department ID" align="center">
        <input  [(ngModel)]="employee.deptId" name="lastName" size="5">
      </div>

      <div class="col col-4" data-label="Number" align="center">
        <input  [(ngModel)]="employee.number" name="lastName" size="10">
      </div>

      <div class="col col-5" data-label="Assigned Loans" align="center">{{employee.loanAmount}}</div>

      <div class ="col col-6" data-label="Update Employee Info">
        <nav>
        <a (click)="updateEmployee(employee)"> Update Information</a>
        </nav>
      </div>
    </li>

  </ul>
</div>
