<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <div class="well">
        <h2 class="text-center">Login</h2>
        <form action="" (submit)="login(f)" #f="ngForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" ngModel name="username">
          </div>
          <div class="form-group">
            <label for="username">Password</label>
            <input type="text" class="form-control"  ngModel name="password">
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Save</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
