<app-navbar></app-navbar>
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="card">
      <a href="admin/loans/allLoans">
      <h3 class="title">All Loans</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50"/>
        </svg>
      </div>
      </a>
    </div>

  <div class="card">
    <a href="admin/loans/pendingLoans">
    <h3 class="title">Pending Loans</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="stroke" cx="60" cy="60" r="50"/>
      </svg>
    </div>
    </a>
  </div>
  <div class="card">
    <a href="admin/loans/loansByDepartment">
    <h3 class="title">Loans by department</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="stroke" cx="60" cy="60" r="50"/>
      </svg>
    </div>
    </a>
  </div>
</div>
</body>
