

<header> Update Profile Information</header>


<form action="" (submit)="updateProfile(f)" #f="ngForm">
  <div>
    <input type="text" placeholder="First Name" ngForm ngModel="" name="firstname">
    <input type="text" placeholder="Last Name" ngForm name="lastname">
    <input type="text" placeholder="Address" ngForm name="address">
    <input type="text" placeholder="Email" ngForm name="email">
    <input type="text" placeholder="Number" ngForm name="number">

    <nav>
      <button class="a" type="button" > Update</button>
    </nav>

  </div>



</form>
