<app-customernavbar></app-customernavbar>
<div class="page">
  <label class="field a-field a-field_a1">
    <label> First Name</label>
    <input class="field__input a-field__input" placeholder="" required [(ngModel)]="firstname">

  </label>

  <label class="field a-field a-field_a1">
    <label> Last Name</label>
    <input class="field__input a-field__input" placeholder="" required [(ngModel)]="lastname">

  </label>


  <label class="field a-field a-field_a1">
    <label> Email</label>
    <input class="field__input a-field__input" placeholder="" required [(ngModel)]="email">

  </label>
  <label class="field a-field a-field_a1">
    <label> Address</label>
    <input class="field__input a-field__input" placeholder="" required [(ngModel)]="address">
  </label>
  <label class="field a-field a-field_a1">
    <label> Number</label>
    <input class="field__input a-field__input" placeholder="" required [(ngModel)]="number">
  </label>
  <div> <br/></div>
  <nav>
    <a (click)="updateProfile()"> Update Profile</a>
  </nav>

</div>
